.page-nav {
    display: flex;
    padding: 20px 0;
    &__wrapper {
        display: flex;
        flex-direction: column;
    }
    &__breadcrumbs {
        margin-bottom: 20px;
        display: flex;

        color: $main-color;
        font-size: 13px;
        font-weight: 400;
        
        a {
            color: $link-color;
            text-decoration: none;
        }
    }
    &__list {
        display: flex;
        list-style: none;
        align-items: center;
        span {
            margin: 0 5px;
            color: $main-color;
            font-size: 10px;
        }
    
    }
    &__menu {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        background-color: #F0F2F8;
        padding: 15px 0 0 0;
        border-radius: 5px;
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            list-style: none;
        }
    }
    &__item {
        display: flex;
        border-right: 1px solid #bdccdb;
        padding-right: 28px;
        margin-right: 28px;
        margin-bottom: 15px;
        &:last-child {
            border-right: none;
        }
    }
    &__link {
        color: $link-color;
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        
    }
    
}

.page {
    margin-top: 20px;
    padding-bottom: 40px;
    display: flex;
    &__wrapper {
        display: flex;
    }
    &__article {
        max-width: 910px;
        padding: 0 30px;
        p {
            margin: 15px 0;
            color: #000;
            font-size: 16px;
            font-weight: 300;
            line-height: 22px;
        }
        a {
            color: $link-color;
            font-weight: 400;
            text-decoration: none;
        }
        // picture, img {
        //     display: block;
        //     margin-top: 20px;
        //     width: 100%;
        //     border-radius: 5px;
        // }
        &_full {
            max-width: 100%;
            padding: 0;
        }
    }
    &__img-wrapper {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        min-height: 300px;
        picture {
            
            // position: absolute;
            width: 300px;
            overflow: hidden;
            
        }

        
    }
    &__title {
        font-size: 16px;
        font-weight: 700;
    }
    &__subtitle {
        font-size: 16px;
        font-weight: 500;
    }
    &__descr {
        display: block;
        margin: 10px 0;
        font-style: italic;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
    }
    &__addr {
        font-weight: 300;
        font-style: italic;
    }
    &__link {
        a {
            color: $link-color;
            font-size: 16px;
            font-weight: 400;
        }
    }
}