<header class="header">
    <div class="header__bar">
        <div class="container">
            <nav>
                <ul>
                    <li><a href="#">Расписание</a></li>
                    <li><a href="#">Электронный дневник</a></li>
                    <li><img src="img/icons/eye.svg" alt=""></li>
                    <li><a href="#"><img src="img/icons/search.svg" alt=""></a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="container">
        <div class="header__logo">
            <img src="img/icons/logo.svg" alt="logotype">
            <div class="header__text">
                <div class="headder__descr">
                    Муниципальное бюджетное<br>
                    общеобразовательное учреждение
                </div>
                <h1>“Звёздненская средняя общеобразовательная школа”</h1>
            </div>
        </div>
        <hr>
        <div class="header__menu">
            <ul>
                <li><a href="#">Новости</a></li>
                <li><a href="#">Школа</a></li>
                <li><a href="#">Ученику</a></li>
                <li><a href="#">Родителю</a></li>
                <li><a href="#">Образование</a></li>
                <li><a href="#">Учебная деятельность</a></li>
            </ul>
        </div>
        
        <hr>
    </div>
</header>