<div class="page-bar">
    <ul class="page-bar__list">
        <li class="page-bar__item"><div class="page-bar__marker"></div><a href="kindergarten.html" class="page-bar__link">Основная образовательная программа дошкольного образования</a></li>
        <li class="page-bar__item"><div class="page-bar__marker"></div><a href="primary-education.html" class="page-bar__link">Основная образовательная программа начального общего образования</a></li>
        <li class="page-bar__item"><div class="page-bar__marker"></div><a href="general-education.html" class="page-bar__link">Основная образовательная программ основного общего образования</a></li>
        <li class="page-bar__item"><div class="page-bar__marker"></div><a href="secondary-education.html" class="page-bar__link">Основная образовательная программ среднего общего образования</a></li>
        <li class="page-bar__item"><div class="page-bar__marker"></div><a href="dop-education.html" class="page-bar__link">Дополнительная общеобразовательная программа "Школа будущего первоклассника"</a></li>
        <li class="page-bar__item"><div class="page-bar__marker"></div><a href="quality-of-education.html" class="page-bar__link">Оценка качества образования</a></li>
        <li class="page-bar__item"><div class="page-bar__marker"></div><a href="academic-plan.html" class="page-bar__link">Учебный план</a></li>
        <li class="page-bar__item"><div class="page-bar__marker"></div><a href="annotations.html" class="page-bar__link">Аннотации к рабочим программам</a></li>
        <li class="page-bar__item"><div class="page-bar__marker"></div><a href="calendar.html" class="page-bar__link">Календарный учебный график</a></li>
        <li class="page-bar__item"><div class="page-bar__marker"></div><a href="number-of-students.html" class="page-bar__link">Численность обучающихся</a></li>
        <li class="page-bar__item"><div class="page-bar__marker"></div><a href="license.html" class="page-bar__link">Лицензия на осуществление образовательной деятельности</a></li>
    </ul>
</div>