<div class="page-bar">
    <ul class="page-bar__list">
        <li class="page-bar__item"><div class="page-bar__marker"></div><a href="tochka-common.html" class="page-bar__link">Общая информация о центре "Точка роста"</a></li>
        <li class="page-bar__item"><div class="page-bar__marker"></div><a href="tochka-news.html" class="page-bar__link">Новости</a></li>
        <li class="page-bar__item"><div class="page-bar__marker"></div><a href="tochka-doc.html" class="page-bar__link">Документы</a></li>
        <li class="page-bar__item"><div class="page-bar__marker"></div><a href="tochka-edu.html" class="page-bar__link">Образовательные программы</a></li>
        <li class="page-bar__item"><div class="page-bar__marker"></div><a href="tochka-teachers.html" class="page-bar__link">Педагоги</a></li>
        <li class="page-bar__item"><div class="page-bar__marker"></div><a href="tochka-objects.html" class="page-bar__link">Материально-техническая база</a></li>
        <li class="page-bar__item"><div class="page-bar__marker"></div><a href="tochka-timetable.html" class="page-bar__link">Режим занятий</a></li>
        <li class="page-bar__item"><div class="page-bar__marker"></div><a href="tochka-events.html" class="page-bar__link">Мероприятия</a></li>
        <li class="page-bar__item"><div class="page-bar__marker"></div><a href="tochka-dop.html" class="page-bar__link">Дополнительная информация</a></li>
        <li class="page-bar__item"><div class="page-bar__marker"></div><a href="tochka-feedback.html" class="page-bar__link">Обратная связь</a></li>
    </ul>
</div>