<div class="page-bar">
    <ul class="page-bar__list">
        <li class="page-bar__item"><div class="page-bar__marker"></div><a href="common.html" class="page-bar__link">Основные сведения</a></li>
        <li class="page-bar__item"><div class="page-bar__marker"></div><a href="struct.html" class="page-bar__link">Структура и органы управления образовательной организацией</a></li>
        <li class="page-bar__item"><div class="page-bar__marker"></div><a href="documents.html" class="page-bar__link">Документы</a></li>
        <li class="page-bar__item"><div class="page-bar__marker"></div><a href="education.html" class="page-bar__link">Образование</a></li>
        <li class="page-bar__item"><div class="page-bar__marker"></div><a href="edu-standards.html" class="page-bar__link">Образовательные стандарты и требования</a></li>
        <li class="page-bar__item"><div class="page-bar__marker"></div><a href="employees.html" class="page-bar__link">Руководство. Педагогический (научно-педагогический) состав</a></li>
        <li class="page-bar__item"><div class="page-bar__marker"></div><a href="objects.html" class="page-bar__link">Материально-техническое обеспечение и оснащенность образовательного процесса</a></li>
        <li class="page-bar__item"><div class="page-bar__marker"></div><a href="grants.html" class="page-bar__link">Стипендии и меры поддержки обучающихся</a></li>
        <li class="page-bar__item"><div class="page-bar__marker"></div><a href="paid_edu.html" class="page-bar__link">Платные образовательные услуги</a></li>
        <li class="page-bar__item"><div class="page-bar__marker"></div><a href="budget.html" class="page-bar__link">Финансово-хозяйственная деятельность</a></li>
        <li class="page-bar__item"><div class="page-bar__marker"></div><a href="vacant.html" class="page-bar__link">Вакантные места для приема (перевода)</a></li>
        <li class="page-bar__item"><div class="page-bar__marker"></div><a href="d-sreda.html" class="page-bar__link">Доступная среда</a></li>
        <li class="page-bar__item"><div class="page-bar__marker"></div><a href="inter.html" class="page-bar__link">Международное сотрудничество</a></li>
    </ul>
</div>